<div class="board-wrapper">

    <div class="board">

        @for (row of grid; track $index; let i = $index) {

            <div class="row">

                @for (value of row; track $index; let j = $index) {

                    <input
                        #cell
                        [name]="'cell-' + i + '-' + j"
                        type="text"

                        [ngModel]="grid[i][j]"
                        (ngModelChange)="onValueChange($event, i, j)"
                        [ngModelOptions]="{ standalone: true }"

                        (keydown)="onKeyDown($event, i, j)"

                        [maxlength]="config.gridSize > 9 ? 2 : 1"

                        [style.width.px]="cellSize"
                        [style.height.px]="cellSize"
                        [style.fontSize.px]="fontSize"

                        [class.right-border]="isRightBorder(j)"
                        [class.bottom-border]="isBottomBorder(i)"
                        [class.original-cell]="originalCells[i][j]"
                        [class.generated-cell]="generatedCells[i][j]"

                        autocomplete="off"
                        spellcheck="false">

                }

            </div>

        }

    </div>

</div>