<div class="home-container">

  <div class="hero-card">

    <img src="assets/icons/sudoku.png" class="logo">

    <h1>Sudoku Solver</h1>

    <p class="subtitle">
      Solve, Play and Master Sudoku Puzzles
    </p>

    <div class="features">

      <div>✔ Multiple Grid Sizes (4×4 - 25×25)</div>

      <div>✔ Manual Entry</div>

      <!-- <div>✔ Image Upload (Coming Soon)</div>

      <div>✔ Camera Scan (Coming Soon)</div> -->

    </div>

    <!-- <button routerLink="/play">
      ▶ Play Game
    </button> -->

    <button (click)="solvePuzzle()" class="secondary">
      ✏ Solve Puzzle
    </button>

  </div>

</div>